@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    [id='app'] {
        position: relative;
    }

    [id='sidebar'] {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        min-height: 600px;
        top: 24%;
        left: 8%;
        background-color: rgb(255, 255, 245);
        min-width: 330px;
        padding: 40px;
        border-radius: 20px;
    }

    /* remove bullet points from li */
    ul {
        list-style-type: none;
    }

    /* styling for the map div */
    [id='map'] { 
        position: relative;
        height: 100vh;
        z-index: 1;
        width: 100vw; 
    }

    /* styling for Camp h2 */
    h2{
        margin-bottom: 0.9375rem;
        font-size: 2rem;
        color: #1d1028;
        letter-spacing: 0.125rem;
    }

    /* change position of popup */
    .leaflet-popup{
        bottom: 23px !important; /* use !important to override, otherwise it doesn't work */
        left: -50px !important;
    }

    @media screen and (max-width: 1200px) {

        [id='sidebar']{
            left: 62%;
        }
    }
       
       